<div class="span6">
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal well"}) do |f| %>
<fieldset>
	<legend>
		登录
	</legend>
	<div class="error_messages">
		<ul>
			<%= devise_error_messages! %>
		</ul>
	</div>
	<div class="control-group">
		<label class="control-label" for="email">邮箱</label>
		<div class="controls">
			<%= f.email_field :email, :autofocus => true %>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="password">密码</label>
		<div class="controls">
			<%= f.password_field :password %>
		</div>
	</div>
  <% if devise_mapping.rememberable? -%>
		<div class="control-group">
			<div class="controls">
				<label class="checkbox">
					<%= f.check_box :remember_me %>记住我
				</label>
			</div>
		</div>
  <% end -%>
	<div class="control-group">
		<%= f.submit '登录', :class => "btn btn-primary btn-large pull-right" %>
	</div>
</fieldset>
<% end %>
</div>
<%= render "devise/shared/sign_in_or_sign_up_common" %>


