<!DOCTYPE html>
<html>
<head>
	<title>Book</title>
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= favicon_link_tag 'favicon.ico' %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<div class="container-fluid banner">
				<div class="span2 pull-left logo">
					<%= image_tag "logo.png" %>
				</div>
				<div class="span4">
					<span>
						<h1>图书交换平台</h1>
						<div class="lead">通过阅读获得成长</div>
					</span>
				</div>
				<div class="span6 pull-right adage">
					<blockquote class="pull-right">
						<p>书是人类进步的阶梯</p>
						<small><cite>高尔基</cite></small>
					</blockquote>
				</div>
			</div>
			<div class="navbar">
				<div class="navbar-inner">
					<ul class="nav">
						<a class="brand" href="#">4US</a>
						<li class="active"><%= link_to "首页", :root %></li>
						<li><a href="http://m.ituqu.com/?page_id=200">我的借阅</a></li>
						<li><a href="http://m.ituqu.com/?page_id=102">我的分享</a></li>
						<li><%= link_to "我的审批", :myAudit %></li>
					</ul>					
					<form action="<%= search_publications_url %>" class="form-search navbar-search">
						<div class="input-append">
							<input type="text" name="keyword" class="span2 search-query" placeholder="书名、作者、ISBN">
							<button type="submit" class="btn"><i class="icon-search"></i></button>
						</div>
					</form>
					<% if user_signed_in? -%>
						<ul class="nav pull-right">
							<li class="dropdown">
						    <a class="dropdown-toggle"
						       data-toggle="dropdown"
						       href="<%= destroy_user_session_path %>">
									 <%= current_user.username %>
						        <b class="caret"></b>
						      </a>
						    <ul class="dropdown-menu">
						      <li><%= link_to "我的空间", "#" %></li>
						      <li><%= link_to "修改密码", "#" %></li>
									<li class="divider"></li>
						      <li><%= link_to "退出", destroy_user_session_path, :method => "delete" %></li>
						    </ul>
						  </li>
						</ul>
						<% else %>
							<div class="pull-right">
								<%= link_to "注册", new_user_registration_path, :class => 'btn btn-primary' %>
								<%= link_to "登录", new_user_session_path, :class => 'btn' %>
							</div>
						<% end -%>
				</div>
			</div>

		</div>
		<div class="row">
			<%= yield %>
		</div>
		<div id="footer">
			<div id="site-generator">
				© 2012 4US Library. Powered by <a href="http://rubyonrails.org" title="Ruby on Rails" rel="generator">Rails</a>.
			</div>
			<div id="site-info">
				Designed by <a href="http://weibo.com/youngmanhere">Seaborn Lee</a>
			</div>
		</div>
	</div>

</body>
</html>
